<section class="container-fluid" id="services">
    <div class="row">
      <div class="col-md-12 col-xs-12 col-col-sm-6" >
        <h1 class="text-center">Services</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 panel-col-1">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <img   src="http://img15.hostingpics.net/pics/7002271101.png">
            <h3>Service One</h3>
          </div>
          <div class="panel-body">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 panel-col-2">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <img src="http://img15.hostingpics.net/pics/3203814203.png">
            <h3>Service Two</h3>
          </div>
          <div class="panel-body">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </div>
        </div>
        
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 panel-col-3">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <img src="http://img15.hostingpics.net/pics/2212307904.png">
            <h3>Service Three</h3>
          </div>
          <div class="panel-body">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 panel-col-4">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <img   src="http://img4.hostingpics.net/pics/126831infogerance.png">
            <h3>Service Four</h3>
          </div>
          <div class="panel-body">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </div>
        </div>
      </div>
    </div>
  </section><!--/container-->